@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --color-text-main: lab(100% 0 0);
  --color-text-soft: lab(100% 0 0/0.7);
  --color-text-brand: #4ade80;
  --background-color: lab(2.42579% -0.165291 -0.470081);
}

.primary-cta {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: none;
}
.secondary-cta {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.256);
  background: rgba(255, 255, 255, 0.176);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

body {
  color: var(--color-text-main);
  background-color: var(--background-color);
}

nav,
main,
footer {
  padding: 1rem 10rem;
}
section {
  margin: 5rem 0rem;
}
header {
  background-image:
    linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.916)),
    url("https://www.mintlify.com/hero/bg-dark.svg");
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
}
.nav_links ul a {
  color: var(--color-text-main);
  font-weight: semi-bold;
  font-size: 1rem;
  text-decoration: none;
}

.hero {
  text-align: center;
}

.hero span {
  background-color: var(--color-text-brand);
  border: none;
  color: var(--color-text-main);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}

.hero h1 {
  font-size: 3rem;
  margin: 1rem 0rem;
}
.hero p {
  font-weight: 400;
  margin-bottom: 1rem;
}
.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.cta-group > div {
  position: relative;
  margin: 1rem 0;
}
.cta-group input {
  width: 25rem;
}
.cta-group button {
  position: absolute;
  top: 0;
  right: 0;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.intelligence {
  text-align: center;
}
.intelligence h2 {
  font-size: 2rem;
  font-weight: 600;
}
.intelligence p {
  margin: 1rem 0;
  color: var(--color-text-soft);
}
.enterprise h5 {
  color: var(--color-text-brand);
  font-weight: 400;
}
.enterprise h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

.enterprise p {
  color: var(--color-text-soft);
}

.enterprise > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.enterprise button {
  height: fit-content;
  padding: 1rem;
  font-weight: 500;
}
